:root {
	--blue:#53527a;
	--blue-light: #6b699c;
	--pink-light: #ebe5d9;
	--red: #f72a2a;
	--green: #657a52;
	--green-light: #80a980;
	--green-dark: #435a43;
	--green-darker: #101810;
	--gray-light: #ddd;
	--gray: #6c757d;
	--gray-dark: #343a40;
	--gray-blue: #436465;
	--primary:  #527a53;
	--secondary: #c2c2c2;
	--success: #28a745;
	--info: #17a2b8;
	--warning: #ffc107;
	--danger: #e91111;
	--light: #f5f5f5;
	--text-light: #f9f9f9;
	--dark: #343a40;
	--text-dark: #2c2c2c;
}

@font-face{
	font-family: "opendyslexic";
	src: url('../fonts/OpenDyslexic-Regular.otf');
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: "opendyslexic";
	src: url('../fonts/OpenDyslexic-Italic.otf');
	font-style: italic;
	font-weight: normal;
}
@font-face{
	font-family: "opendyslexic";
	src: url('../fonts/OpenDyslexic-Bold.otf');
	font-weight: bold;
	font-style: normal;
}
@font-face{
	font-family: "opendyslexic";
	src: url('../fonts/OpenDyslexic-BoldItalic.otf');
	font-weight: bold;
	font-style: italic;
}

* {
   font-family: "opendyslexic";
   box-sizing: border-box;
}

html,body {
	max-width: 100vw;
	padding: 0;
	margin: 0;
	font-size: 16px;
	background-color: var(--green-darker);
}   

/* Estilos de texto */
h1 {
	color: var(--primary);
}

h2,h3 {
	color: var(--green); 
}

h3 {
	font-style: italic;
}

h4 {
	color: var(--green-dark);
}

p {
	color:var(--text-dark);
	font-size: 1rem;
}

a {
	color: var(--gray-blue);
	text-decoration: none;
	cursor: pointer;
}

	a:visited {
		color: var(--blue);
	}

.altert {
	color:var(--danger);
	font-weight: bold;
}

/* Estilos header */
header  {
	padding: 0.5%;
}

body > header h1 {
	color: var(--text-light);
	text-align: center;
	text-transform: uppercase;
	font-size: 3rem;
	font-family: 'Syne Mono', monospace;
}  

#sitemap {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	color: var(--text-light);
	font-size: 0.875rem;
}

/* Estilos para la barra de navegación */
.topnav {
	top: 0; 
	position: sticky;
	display: flex; 
	align-items: baseline;
	background-color: var(--green-dark);
	z-index: 1000;
}

	.topnav * {
		font-size: 1.1rem;
	}

	.topnav i {
		padding: 0.1rem 0;
	}

	/* Estilos para los enlaces de la barra de navegación */
	.topnav a {
		color: var(--text-light);
		display: flex;
		text-align: center;
		padding: 0.875rem 1rem;
	}
		.topnav a:hover {
			background-color: rgb(102, 153, 103);
		}

/* Menú dropdown */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: var(--light);
	min-width: 10rem;
	box-shadow: 0px 8px 16px 0px rgba(60, 60, 60, 0.2);
}
	/* Estilos para los enlaces del contenido del menú */
	.dropdown-content a {
		display: block;
		color: var(--text-dark);
		padding: 0.75rem 1rem;
		text-align: left;
	}

	.dropdown-content a:not(:last-child) { 
		border-bottom: var(--green-dark) solid;
	}

	.dropdown-content a:hover {
		background-color: var(--gray-light);
		border-bottom: var(--gray-light) solid;
	}

		.dropdown:hover .dropdown-content {
			display: block;
		}

/* Estilos main */

main {
	position: relative;
	padding: 1.5rem;
	margin:0;
	background-color: var(--light);
	box-shadow: 0 8px 10px var(--gray-dark);
}

.home{
	padding: 0;
}

.accordion, .home-ut  {
	padding: 0.625rem 0 0;
}

	.accordion h1, .home-ut h1 {
		text-align: center;
	}

/* Estilos footer */
footer {
	margin: 0;
	font-size: 80%;
}

.footer-resources {
	display: flex;
	background-color: var(--green-dark);
	padding: 1rem 0;
}

	.footer-resources h2 {
		padding-left: 1rem;
		text-transform: uppercase;
		color:var(--green-light);
	}

	.footer-resources > a {
		padding-left: 1rem;
		color: var(--text-light);
		font-size: 1.5rem;
	}

	.resources-columns {
		display: flex;
		flex-flow: column wrap;
		justify-content: space-between;
		height: 4rem;
		line-height: 1.2;
	}

	.resources-columns a{
		padding-left: 2.5rem;
		color: var(--secondary);
		font-size: 1rem;
	}

		.resources-columns a:last-child {
			margin-bottom: calc(0% + 1.4rem);
		}

.footer-copyright {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1rem;
}

	.footer-copyright p:first-child{
		margin: auto;
		color: var(--green-light);
	}

	.footer-copyright a {
		color: var(--blue-light);
	}

/* Estilos para las imágenes */
img {
	max-width: 100%; /* Fija como tamaño máximo de la imagen el del contenedor */
	/* Si la imagen no cargase, estilos para "alt" */
	color: var(--primary);
	text-align: center;
    font-weight: 600;
	font-size: 1rem;
	text-transform: uppercase;
}

.img-exercises {
	display: block;
	width: 50%;
	margin: 0 auto;
}

/* Estilos para la galería de imágenes */
.gallery-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	line-height: 1.6;
}

div.gallery {
	width: 15rem;
	margin: 0.5rem;
	border-radius: 0.5rem;
	box-shadow: 0 0 0.5rem 0.05rem  var(--gray);
  }
  
  	div.gallery:hover {
		box-shadow: 0 0 0.5rem 0.05rem  var(--gray-dark);
  	}
  
  	div.gallery img {
		width: 15rem;
		height: 10rem;
		border-radius: 0.5rem 0.5rem 0 0;
		cursor: zoom-in;
  	}

  	.cover {
	  	object-fit: cover;
	  	object-position: top;
	}
  
  	div.desc {
		padding: 1rem 0;
		text-align: center;
		color: var(--text-dark);
	  }

/* Estilos para iconos */
.mdi.mdi-pdf-box {
	color: var(--red);
	font-size: large;
}

.mdi.mdi-image-area {
	font-size: x-large;
}

/* Home icon */
#modules {
	display:inline-flex;
	flex-direction: column;
	align-items: center;
	padding: 1.5%;
	color: var(--text-light);
	font-size: 0.70rem;
	font-weight: bold;
}

	#modules .fa.fa-home {
		padding-bottom: 0.2rem;
		font-size: 2rem;
	}

/* Menú principal portada */
#wid-units {
	display:flex;
	flex-wrap: wrap;
	justify-content: stretch;
	width: 100%;
}

	#wid-units > div{
		height: 20rem;
		width:calc(100%/3);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: bottom;
	}

		#wid-units > div:nth-child(1), #wid-units > div:nth-child(2){
			width: 50%;
		}

		#wid-units > div:nth-child(1){
			background-image: url("../img/web_planning.svg");
			background-color: #476b48;
		}
		#wid-units > div:nth-child(2){
			background-image: url("../img/css_styles.svg");
			background-color: var(--primary);
		}
		#wid-units > div:nth-child(3){
			background: url("../img/multimedia.svg");
			background-repeat: no-repeat;
			background-position: bottom;
			background-color:#5c8a5d;
		}
		#wid-units > div:nth-child(4){
			background: url("../img/accessibility.svg");
			background-repeat: no-repeat;
			background-position: bottom;
			background-color: #669967;
		}
		#wid-units > div:nth-child(5){
			background: url("../img/usability.svg");
			background-repeat: no-repeat;
			background-position: center 0.563rem;
			background-color: #75a377;
		}

		#wid-units a {
			color:var(--text-light);
		}
		
		#wid-units > div > a {
			display: block;
			padding: 1rem;
			width: 100%;
			height: 85%;
			font-size: 1.2rem;
			color:var(--text-light);
			background: linear-gradient(rgba(52, 58, 64,0.8),rgba(52, 58, 64,0.8))  no-repeat top;
			background-size: 100%  3rem;
		}

		/* Menú oculto */
		.hidden-bar {
			position:relative;
			padding: 0.875rem;
			bottom:0;
			visibility: hidden;
			color: var(--text-light);
			text-align: center;
			background: rgba(52, 58, 64,0.9);
		}

			.hidden-bar i{
				padding-right: 0.7rem;
			}
			
			div:hover > .hidden-bar {
				visibility: visible;
			}

/* Menú lateral webs */
#websSidenav {
	display: inline-flex;
	position:fixed;
	top:25%;
  	right:-245px;
	width:280px;
  }

  	#websSidenav:hover{
		right:0;
  	}

  	#websSidenav ul {
		list-style-type: none;
		padding: 0;
		margin:0;
		width: 100%;
		background-color: var(--light);
	}

	#websSidenav li a {
		display: block;
		padding: 0.2em;
		margin-left: 1.5em;
	}

		#websSidenav a:hover{
			color: var(--blue-light);
		}
	
		#websSidenav li:hover {
			background-color: rgba(101, 122, 82,0.3);
  		}

  	#websSidenav p {
		padding:0.5em;
		margin:0;
		text-align: center;
		font-weight: bold;
		background-color:var(--green-darker);
		color: var(--light);
		writing-mode: vertical-rl;
		transform: rotate(180deg);
		border-radius: 0 0.5em 0.5em 0;
	  }

/* Menú principal unidades temáticas */
.home-ut {
	display:flex;
	height: 35rem;
}

.home-ut div {
	width: 30%;
	margin: 0 1rem;
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
}

.ut1 div {
	background-image: url("../img/web_planning.svg");
}

.ut2 div {
	background-image: url("../img/css_styles.svg");
}

.ut3 div {
	background-image: url("../img/multimedia.svg");
}

.ut5 div {
	background-image: url("../img/accessibility.svg");
}

.ut6 div {
	background-image: url("../img/usability.svg");
}

.home-ut div a img {
	width: 35%;
}

.home-ut div a:hover img {
	filter: drop-shadow(1.2rem 0.2rem 0.3rem #527a53); /* función CSS que aplica sombra a una imagen */
}

	.home-ut div a:not(:first-child) img{
		margin-top: 65%;
	}

	.home-ut div a:first-child img{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.home-ut div a:last-child img{
		float: right;
	}

	.home-ut section {
		margin-top: auto;
		margin-bottom: auto;
	}

	.home-ut section h1 {
		text-align: left;
	}

		.home-ut section h1 span {
			display: inline-block;
			width: 1.75rem;
			height: 1.75rem;
			color: var(--text-light);
			text-align: center;
			background-color: var(--primary);
			border-radius: 50%;
		}

	.home-ut ul {
		list-style: none;
	  }
	  
	.home-ut ul li::before {
		content: "\058E";  /* Añade contenido: \058E es un código unicode CSS */
		color:var(--primary);
		display: inline-block; /* Necesario para añadir espacio entre la viñeta y el texto */
		width: 1.5rem; /* Necesario para añadir espacio entre la viñeta y el texto */
		font-weight: bold;
	  }

/* Estilos para el acordeón */
.ac-container{
	text-align: left;
	margin:0;
	}
	
	.ac-container label{
		padding: 0.5em 2em;
		position: relative;
		z-index: 20;
		display: block;
		cursor: pointer;
		font-weight: bold;
		font-size: 130%;
		color: var(--text-light);
		background: var(--primary);
		}
	
		.ac-container label:hover{
			background: var(--green-light);
		}

	.ac-container label:hover:after,
	.ac-container input:checked + label:hover:after{
		content: "+";
		position: absolute;
		right: 1em;
		font-weight: bold;
		}

	.ac-container input:checked + label:hover:after{
		content: "-";
		position: absolute;
		right: 1em;
		font-weight: bold;
		}
	
	.ac-container input{
		display: none;
		}

	.ac {
		overflow: hidden;
		height: 0;
		position: relative;
		z-index: 10;
		transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
		}

	.ac-container input:checked ~ .ac{
		height: inherit;
		margin: 0.5em 1em;
		text-align: justify;
		line-height: 150%;
		word-spacing: 0.15em;
		}

		.ac-container input:checked ~ .ac:last-child{
			margin-bottom: 0;
		}

/* Estilos para el album */
.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	line-height: 1.6;
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 18rem;
	padding-top: 0.5rem;
	margin-bottom: 2.5rem;
	background-color: #e0ebe1;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
}

.card-img-top {
	width: auto;
	height: 7.2rem;
}

.card-body {
	position: relative;
	flex: 1 1 auto;
	padding: 0 1.25rem 1.25rem 1.25rem;
	background-color: #d1e0d2;
}

.card-title {
	margin-bottom: 0;
	color: var(--green-dark);
	font-style: italic;
}

.card-text {
	padding-bottom: 1.5rem;
	font-size: 0.875rem;
}

.card .btn-primary {
    color: var(--text-light);
    background-color: var(--primary);
    border-color: var(--primary);
}

.card .btn {
	position: absolute;
	bottom: 0.5rem;
	right: 0.5rem;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle; 
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}
