@font-face{
	font-family: "opendyslexic";
	src: url('../fonts/OpenDyslexic-Regular.otf');
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: "opendyslexic";
	src: url('../fonts/OpenDyslexic-Italic.otf');
	font-style: italic;
	font-weight: normal;
}
@font-face{
	font-family: "opendyslexic";
	src: url('../fonts/OpenDyslexic-Bold.otf');
	font-weight: bold;
	font-style: normal;
}
@font-face{
	font-family: "opendyslexic";
	src: url('../fonts/OpenDyslexic-BoldItalic.otf');
	font-weight: bold;
	font-style: italic;
}

* {
   font-family: "opendyslexic";
   box-sizing: border-box;
}

html,body {
	background-color: #f5f5f5;
	padding: 0;
	margin: 0;
	width: 100vw;
}   

main, footer {
	margin: 0 1rem;
}

header  {
	background-color: #527a53;
	padding: 0.5%;
}

header h1 {
	color: #f9f9f9;
}  

footer {
	display: flex;
	justify-content: space-between;
	font-size: 80%;
}                                

h1 {
	color: #527a53;
}

h2,h3 {
	color: #657a52; 
}

h3 {
	font-style: italic;
}

h4 {
	color: #435a43;
}

p {
	color: #2c2c2c;
}

a {
	color: #436465;
	text-decoration: none;
}

a:visited {
	color: #53527a;
}

img {
	max-width: 100%; /* Fija como tamaño máximo de la imagen el del contenedor */
}

.alerta {
	color:rgb(233, 17, 17);
	font-weight: bold;
}

/* Estilos para iconos */
.mdi.mdi-pdf-box {
	color: #f72a2a;
	font-size: large;
}

.mdi.mdi-image-area {
	font-size: x-large;
}

/* Home icon */
#modules {
	display:inline-flex;
	flex-direction: column;
	align-items: center;
	padding: 1.5%;
	font-size: 0.70rem;
	font-weight: bold;
}

#modules .material-icons {
	font-size: 3rem;
}

/* Menú lateral webs */
#websSidenav {
	display: inline-flex;
	position:absolute;
	top:20%;
  	right:-245px;
	width:280px;
  }

  	#websSidenav:hover{
		right:0;
  	}

  	#websSidenav ul {
		list-style-type: none;
		padding: 0;
		margin:0;
		width: 100%;
		background-color: rgba(76, 175, 80, 0.3);
	}

	#websSidenav li a {
		display: block;
		padding: 0.2em;
		margin-left: 1.5em;
	}

	#websSidenav a:hover{
		color: #f5f5f5;
	}
	
	#websSidenav li:hover {
		background-color: rgba(101, 122, 82,0.3);
  	}

  	#websSidenav p {
		padding:0.5em;
		margin:0;
		text-align: center;
		font-weight: bold;
		background-color:#435a43;
		color:#f5f5f5;
		writing-mode: vertical-rl;
		transform: rotate(180deg);
		border-radius: 0 0.5em 0.5em 0;
	  }

/* Estilos para el acordeón */
.ac-container{
	text-align: left;
	margin: 3em 0;
	}
	
	.ac-container label{
		padding: 0.5em 2em;
		position: relative;
		z-index: 20;
		display: block;
		cursor: pointer;
		font-weight: bold;
		font-size: 130%;
		color: #f9f9f9;
		background: #527a53;
		}
	
		.ac-container label:hover{
			background: #80a980;
		}

	.ac-container label:hover:after,
	.ac-container input:checked + label:hover:after{
		content: "+";
		position: absolute;
		right: 1em;
		font-weight: bold;
		}

	.ac-container input:checked + label:hover:after{
		content: "-";
		position: absolute;
		right: 1em;
		font-weight: bold;
		}
	
	.ac-container input{
		display: none;
		}

	.ac {
		overflow: hidden;
		height: 0;
		position: relative;
		z-index: 10;
		transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
		}

	.ac-container input:checked ~ .ac{
		height: inherit;
		margin: 0.5em 1em;
		text-align: justify;
		line-height: 150%;
		word-spacing: 0.15em;
		}
