<?xml version="1.0" encoding="UTF-8"?>
<urlset xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
<url>
<loc>https://nuriadaw.github.io/dint/</loc>
<lastmod>2020-10-12T16:26:26+00:00</lastmod>
</url>
<url>
<loc>https://nuriadaw.github.io/dint/ut1/index.html</loc>
<lastmod>2020-10-12T16:26:26+00:00</lastmod>
</url>
<url>
<loc>https://nuriadaw.github.io/dint/ut1/documentacion/index.html</loc>
<lastmod>2020-10-12T16:26:26+00:00</lastmod>
</url>
<url>
<loc>https://nuriadaw.github.io/dint/ut1/documentacion/html-div.html</loc>
<lastmod>2020-10-12T16:26:26+00:00</lastmod>
</url>
<url>
<loc>https://nuriadaw.github.io/dint/ut1/documentacion/html-float.html</loc>
<lastmod>2020-10-12T16:26:26+00:00</lastmod>
</url>
<url>
<loc>https://nuriadaw.github.io/dint/ut1/documentacion/html-flex.html</loc>
<lastmod>2020-10-12T16:26:26+00:00</lastmod>
</url>
<url>
<loc>https://nuriadaw.github.io/dint/ut1/practicas/index.html</loc>
<lastmod>2020-10-12T16:26:26+00:00</lastmod>
</url>
<url>
<loc>https://nuriadaw.github.io/dint/ut1/practicas/p1/index.html</loc>
<lastmod>2020-10-12T16:26:26+00:00</lastmod>
</url>
<url>
<loc>https://nuriadaw.github.io/dint/ut1/practicas/sitio-web.html</loc>
<lastmod>2020-10-12T16:26:26+00:00</lastmod>
</url>
<url>
<loc>https://nuriadaw.github.io/dint/ut1/practicas/practica-colores.html</loc>
<lastmod>2020-10-12T16:26:26+00:00</lastmod>
</url>
<url>
<loc>https://nuriadaw.github.io/dint/ut1/practicas/practica-fuentes.html</loc>
<lastmod>2020-10-12T16:26:26+00:00</lastmod>
</url>
<url>
<loc>https://nuriadaw.github.io/dint/ut1/practicas/practica-iconos/index.html</loc>
<lastmod>2020-10-12T16:26:26+00:00</lastmod>
</url>
<url>
<loc>https://nuriadaw.github.io/dint/ut1/practicas/practica-iconos/iconos-material.html</loc>
<lastmod>2020-10-12T16:26:26+00:00</lastmod>
</url>
<url>
<loc>https://nuriadaw.github.io/dint/ut1/practicas/practica-iconos/iconos-boostrap.html</loc>
<lastmod>2020-10-12T16:26:26+00:00</lastmod>
</url>
<url>
<loc>https://nuriadaw.github.io/dint/ut1/practicas/practica-iconos/iconos-varias-fuentes.html</loc>
<lastmod>2020-10-12T16:26:26+00:00</lastmod>
</url>
<url>
<loc>https://nuriadaw.github.io/dint/ut1/practicas/disenno-web-cliente/index.html</loc>
<lastmod>2020-10-12T16:26:26+00:00</lastmod>
</url>
<url>
<loc>https://nuriadaw.github.io/dint/ut1/practicas/practica-balsamiq/index.html</loc>
<lastmod>2020-10-12T16:26:26+00:00</lastmod>
</url>
<url>
<loc>https://nuriadaw.github.io/dint/ut1/practicas/repaso-html.html</loc>
<lastmod>2020-10-12T16:26:26+00:00</lastmod>
</url>
<url>
<loc>https://nuriadaw.github.io/dint/ut1/herramientas.html</loc>
<lastmod>2020-10-12T16:26:26+00:00</lastmod>
</url>
<url>
<loc>https://nuriadaw.github.io/dint/ut2/index.html</loc>
<lastmod>2020-10-12T16:26:26+00:00</lastmod>
</url>
<url>
<loc>https://nuriadaw.github.io/dint/ut2/documentacion.html</loc>
<lastmod>2020-10-12T16:26:26+00:00</lastmod>
</url>
<url>
<loc>https://nuriadaw.github.io/dint/ut2/practicas/index.html</loc>
<lastmod>2020-10-12T16:26:26+00:00</lastmod>
</url>
<url>
<loc>https://nuriadaw.github.io/dint/ut2/herramientas.html</loc>
<lastmod>2020-10-12T16:26:26+00:00</lastmod>
</url>
<url>
<loc>https://nuriadaw.github.io/dint/ut3/index.html</loc>
<lastmod>2020-10-12T16:26:26+00:00</lastmod>
</url>
<url>
<loc>https://nuriadaw.github.io/dint/ut3/documentacion.html</loc>
<lastmod>2020-10-12T16:26:26+00:00</lastmod>
</url>
<url>
<loc>https://nuriadaw.github.io/dint/ut3/practicas/index.html</loc>
<lastmod>2020-10-12T16:26:26+00:00</lastmod>
</url>
<url>
<loc>https://nuriadaw.github.io/dint/ut3/herramientas.html</loc>
<lastmod>2020-10-12T16:26:26+00:00</lastmod>
</url>
<url>
<loc>https://nuriadaw.github.io/dint/ut5/index.html</loc>
<lastmod>2020-10-12T16:26:26+00:00</lastmod>
</url>
<url>
<loc>https://nuriadaw.github.io/dint/ut5/documentacion.html</loc>
<lastmod>2020-10-12T16:26:26+00:00</lastmod>
</url>
<url>
<loc>https://nuriadaw.github.io/dint/ut5/practicas/index.html</loc>
<lastmod>2020-10-12T16:26:26+00:00</lastmod>
</url>
<url>
<loc>https://nuriadaw.github.io/dint/ut5/herramientas.html</loc>
<lastmod>2020-10-12T16:26:26+00:00</lastmod>
</url>
<url>
<loc>https://nuriadaw.github.io/dint/ut6/index.html</loc>
<lastmod>2020-10-12T16:26:26+00:00</lastmod>
</url>
<url>
<loc>https://nuriadaw.github.io/dint/ut6/documentacion.html</loc>
<lastmod>2020-10-12T16:26:26+00:00</lastmod>
</url>
<url>
<loc>https://nuriadaw.github.io/dint/ut6/practicas/index.html</loc>
<lastmod>2020-10-12T16:26:26+00:00</lastmod>
</url>
<url>
<loc>https://nuriadaw.github.io/dint/ut6/herramientas.html</loc>
<lastmod>2020-10-12T16:26:26+00:00</lastmod>
</url>
</urlset>
