/* Global styles */

* {
    box-sizing: border-box;
    margin: 0;
  }

html {
    background-color: $background-gray;
    color: $text-light;
    font-family: $body-font;
    font-weight: 400;
    line-height: 150%;
}

/* Layout styles */

body {
    display: flex;
    /* Items wrap in multiple lines */
    flex-wrap: wrap;
}

header, footer {
    width: 100%;
    background-color: $green-dark;
    color: $text-light;
    text-align: center;

    a {
        color: inherit;
    }
}

header {
    height: 8rem;
    padding: 3rem 0;

    h1 {
        margin: 0;
    }
}

aside {
    flex: 30%;
    padding: 1.2rem;

    img {
        width: 90%;
        /* Specifing height too may be good for performance */
        height: auto;
    }
}

main {
    flex: 70%;
    padding: 1.2rem;
    background-color: $background-gray-light;
    color: $text-dark;
    min-height: 100vh;
}

footer {
    display: flex;
    /* Vertical align */
    align-items: center;
    padding: 2rem 1rem;
    font-size: 1.15rem;

    .footer-copyrigth {
        flex-grow: 2;
    }

    div:not(:nth-child(2)) {
        font-size: 2rem;
    }
}

/* Text styles */
a {
    color: $primary-color;
    text-decoration: none;
    cursor: pointer;

    &:hover{
        text-decoration: dotted;
    }
}

/* Image styles */
.round-img {
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    padding: 0.5rem;
    border-radius: 50%;
    border: 2px outset $green-light;
}

hr {
    margin: 1.2rem;
	border: none;
    border-top: 10px solid $primary-color;
    border-image: url(../img/border.png) 30% round;
}