/* Creative Commons Font */
@font-face {
    font-family: 'CC-ICONS';
    font-style: normal;
    font-weight: normal;
    src: url('http://mirrors.creativecommons.org/presskit/cc-icons.ttf') format('truetype'),
    url('../fonts/cc-icons.ttf') format('truetype');
    }

// Heading styles
h1, h2, h3, h4, h5, h6 {
    margin: 1.2rem 0;
    font-family: $heading-font;
    font-weight: 400;
}

.license {
    font-family: $commons-font;
}