// Table of Contents:
//
// 1. Colors
// 2. Tipography
// 3. Dimensions

// ------------------------------------------------

// 1. Colors
$primary-color:  #527a53;
$secondary-color: #c2c2c2;
$green: #657a52;
$green-light: #80a980;
$green-dark: #435a43;
$green-darker: #101810;
$background-gray-light: #ddd;
$background-gray: #6c757d;
$background-gray-dark: #343a40;
$text-dark: #2c2c2c;
$text-light: #f9f9f9;

// 2. Tipography
$lato: 'Lato', sans-serif;   
$merriweather: 'Merriweather', serif;

$body-font: $lato;
$heading-font: $merriweather;
$commons-font: 'CC-ICONS';