// Table of Contents:
//
// 1. Colors
// 2. Tipography
// 3. Media Queries

// ------------------------------------------------

// 1. Colors
$primary-color:  #527a53;
$secondary-color: #c2c2c2;
$green: #8eaa76;
$green-light: #a4d1a4;
$green-dark: #435a43;
$green-darker: #101810;
$background-gray-light: #ddd;
$background-gray: #6c757d;
$background-gray-dark: #343a40;
$text-dark: #2c2c2c;
$text-light: #f9f9f9;
$warning-yellow: #eed202;

// 2. Tipography
$lato: 'Lato', sans-serif;   
$merriweather: 'Merriweather', serif;

$body-font: $lato;
$heading-font: $merriweather;
$commons-font: 'CC-ICONS';

$small-text: 0.85rem;

// 3. Media Queries
$small-screen: 700px;
$extrasmall-screen: 450px;