// Mixins
@mixin icon($width, $height){
  width: $width;
  height: $height;
}

/* Default styles */

html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  width: 100%;
  color: $text-dark-gray;
  background-color: $background-light-pink;
}

header {
  display: flex;
  align-items: center;
  height: 15rem;

  h1 {
    color: $text-highlights;
  }

  a {
    /* Make a flex for allow horizontal centering */
    display: flex;
    /* Make a tag take full width */
    flex-basis: 100%;
    justify-content: center;
    text-align: right;
    color: $text-dark-gray;
    text-decoration: none;
  }

  .icon-header {
    width: $h1-fontsize; 
    height: $h1-fontsize;
    fill: currentColor;
  }

  p {
    text-shadow: 2px 2px .5px $soft-gray;
  }
}

main {
  /* required to make sure the `absolute` positioning of back to top
   * the anchor wrapper is indeed `relative` to this element vs. the body
   */
  position: relative;
  padding: 0 3rem;
}

/* Footer */
footer {
  display: flex;
  height: 15rem;
  background: url("../img/city.svg") bottom repeat-x;
  justify-content: space-around;
  font-size: 1.3rem;
  color: $text-dark-pink;

  &:not(footer.resources-footer){
    margin-top: 4rem;
  }

  .legal-conditions {
    position: relative;
    align-self: stretch;
    a.license{
      display: block;
      margin-top: .5rem;
      text-align: center;
    }

    p:last-child {
      position: absolute;
      bottom: 0;
      a{
        color: darken($text-highlights, 15%);
      }
    }
  }

  .social {
  a {
    margin-right: .3rem;
    text-decoration: none;
  }
  .icon-md {
    fill: $text-dark-pink;
    transition: all .5s ease;

    &:hover {
      fill: $text-highlights;
      transform: scale(1.2);
    }
  }

  }

  .validators {
    text-align: center;

    .test{
      padding: .5rem 0;
      background-color: rgba($background-light-pink, .8);
    }

    a{
        color: darken($text-highlights, 15%);
      }
  }
}

/* Text styles */
p {
  line-height: 1.5;
}

p.privacy-policity {
  font-size: 1rem;
  font-style: normal;
}

 details{
    text-align: left;
}

a {
  color: $text-links;
  cursor: pointer;
}

a:hover {
  text-decoration: underline dotted;
}

a.corner-button-l-gray, .back-to-top-link:hover, header a:hover {
  text-decoration: none;
}

.resource-link {
  font-size: 1.5rem;
}

mark {
  padding: .3rem .5rem;
  color: $text-highlights;
  text-shadow: 1px 1px $soft-gray;
  background-color: $soft-purple;
}

pre {
  padding: 1rem;
  /* Wrap text if overflows screen */
  word-wrap: break-word;
  white-space: pre-wrap; 
}

.hero {
  .big {
    padding-top: 1.5rem;
    margin-bottom: -1.2rem;
  }
}

.big {
  font-size: 2rem;
}

.bigger {
  font-size: 3rem;
  font-weight: 900;
  color: $text-highlights;
  text-align: center;
}

.how-to, .summary-pink, .summary-gray {
  padding: .15rem .3rem .3rem;
  font-size: 1.3rem;
}

.how-to {
  background-color: $background-light-pink;
}

.summary-gray {
  background-color: $background-light-gray;
  summary {
    color: $text-dark-pink;
  }
}

.summary-pink {
  background-color: $background-light-pink;
}

.inline-code {
  padding: .2rem;
  color: $text-dark-gray;
}

.inline-code-gray {
  @extend .inline-code;
  background-color: $background-light-gray;
}

.inline-code-pink {
  @extend .inline-code;
  background-color: $background-light-pink;
}

.note {
  margin: 1rem;
  padding: .5rem;
  color: $text-dark-gray;
  background-color: lighten($soft-purple, 10%);
  border-left: 10px solid transparent;
  border-image: url(../img/border.png) 30 round;

  strong {
    color: $text-highlights;
  }
}

/* List styles */
ul.video-list {
  max-height: 49rem;
  list-style-type: none;
  overflow-y: scroll;

  a {
    text-decoration: none;
    color: $text-dark-gray;
  }

  img {
    width: 97%;
    margin-top: 1rem;
    margin-bottom: -.85rem;
  }

  p:not(.video-title, .video-author) {
    margin: 0;
    margin-right: 1.2rem;
    text-align: justify;
    /* Ellipsis block */
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    height: 2.6em; /* Fallback for non-webkit, line-height * 2 */
    line-height: 1.3em;
    -webkit-line-clamp: 2; /* if you change this, make sure to change the fallback line-height and height */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .video-title{
    max-width: 90%;
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: 700;
    /* Text overflow ellipsis */
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .video-author {
    margin: 0;
    font-size: .9rem;
    font-style: italic;
  }
}

/* Color styles */
.red {
  color: $red-badge;
}

.purple, .podcast summary, .video summary {
    color: $text-highlights;
  }

.gray-background {
  color: $text-dark-pink;
  background-color: $background-light-gray;
}

.highligth-ligth{
  background-color: $soft-purple;
  color: $text-highlights;
}

.highligth-dark{
  background-color: $text-highlights;
  color: $soft-purple;
}

/* Code block */
.tag, .property-name{
  color: $tag;
}

.attr-name, .class-name {
  color: $attr-name;
}

.attr-value {
  color: $attr-value;
}

.js-code {
  color: $js-code;
}

/* Global */
.skewed-background {
  margin: 4rem -3rem; 
  padding: 0 4rem 3rem 3rem;
  transform: skew(0deg, 3deg);
}

.skewed-background .content {
  transform: skew(0deg, -3deg);
}

.srcintro-text {
  text-align: justify;
}

.footer-separator {
  width: 30%;
  margin-top: 4rem;
  color: $text-dark-pink;
}

/* Image styles */
img {
  max-width: 100%;
  height: auto;
}

img.logo {
  vertical-align: bottom;
}

/* Audio styles */
audio {
  width: 100%;
}

.podcast {
  width: 98%;
  .big{
    margin-bottom: 0 !important;
  }

  hr {
    border-top: 4px ridge;
  }
}

/* Video styles */
video {
  max-width: 100%;
}

.video {
  .big{
    margin-bottom: 0 !important;
  }

  hr {
    border-top: 4px ridge;
  }
}

.video-list-wrapper {
  width: 98%;
}

.video-transcripction {
  height: 9rem;
  padding: 0 .5rem;
  overflow-y: auto;
}

/* Icon styles */
.icon { 
  @include icon(1rem, 1rem);
  fill: currentColor;
}

.icon-md { 
  @include icon(2.5rem, 2.5rem);
  fill: $text-highlights;
}

table .icon { 
  @include icon(3rem, 3rem);
}

.flip-card .icon{
  @include icon(4rem, 4rem);
}

.card-lg .icon {
  padding-top: 1rem;
  @include icon(5rem, 5rem);
}

.corner-button-l-gray .icon, .corner-button-l-pink .icon {
  @include icon(2rem, 2rem);
}

.icon-info {
  @include icon(.9rem, .9rem);
  fill: currentColor;
}

.icon-forbiden{
  fill: rgb(204, 0, 0);
}

.icon-circle {
  margin-bottom: -0.125em;
}

/* Tables */
table, th, td {
  border-collapse: collapse;
  border: 1px solid $border-purple;
}

table caption {
  font-weight: 900;
  font-size: 1.5rem;
  color: $text-highlights;
}

thead th, caption {
  padding: 1rem 0 .5rem;
}

tbody td {
  padding: 1rem 0;
}

tfoot td {
  padding: .75rem;
}

.table-compatibility {
  margin: 1rem auto;
  width: 85%;

  tbody {
    text-align: center;
    font-size: 1.3rem;
  }

  .partial-support {
    background-color: lighten($yellow-badge, 20%);
  }

  .full-support {
    background-color: lighten($green-badge, 40%);
  }
}

/* Forms */
form {
  width: 90%;
  margin: 0 auto;
}

form p {
  margin-top: .2rem;
  font-size: .85rem;
  font-style: italic;
  text-align: right;
}

input, textarea {
  margin: .3rem 0 1rem;
  background-color: $background-light-gray;
  border: none;
}

input[type=text], input[type=email] {
  width: calc(100% - 1rem);
  padding: .5rem;
  border-bottom: 4px solid $border-purple;
}

textarea {
  width: calc(100% - (8px + 1rem));
  height: 15rem;
  padding: .5rem;
  resize: none;
  border-width: 0px 8px 8px 0px;
  border-style: solid;
  border-image: url(../img/border-form.png) 40 round;
}

label {
  font-size: 1.2rem;
}

#contact-form #name, #contact-form #email, #contact-form #query {
  margin-bottom: 0;
}

/* Skip to content link */
.skip-to-content-link {
  position: absolute;
  height: 30px;
  left: 50%;
  padding: 8px;
  transform: translateY(-100%);
  transition: transform 0.3s;
}

.skip-to-content-link:focus {
  transform: translateY(0%);
}

/* Back to top link */
.back-to-top-wrapper {
  position: absolute;
  top: $scrollLength;
  right: 0.25rem;
  bottom: 0;
  /* Required for best support in browsers not supporting `sticky` */
  width: 3em;
  /* Disable interaction with this element */
  pointer-events: none;
}

.back-to-top-link {
/* `fixed` is fallback when `sticky` not supported */
  position: fixed;
  /* preferred positioning, requires prefixing for most support, and not supported on Safari
   * @link https://caniuse.com/#search=position%3A%20sticky 
   */
  position: sticky;
  /* achieves desired positioning within the viewport */
  top: calc(100vh - 5rem);
  display: inline-block;
  width: 3rem;
  height: 3rem;
  text-decoration: none;
  text-align: center;
  transition: all ease 2s;
  /* reinstate clicks */
  pointer-events: all;
}

.back-to-top-link:hover .icon {
  fill: none;
  stroke: currentColor;
  stroke-width: 3;
  stroke-linecap:"round";
}

/*******************
  Utility Classes
*******************/

.hide {
  display: none !important;
}

.rounded {
  border-radius: 10px;
}

// Text Align
.left-align {
  text-align: left;
}
.right-align {
  text-align: right;
}
.center, .center-align {
  text-align: center;
}

.justify {
  text-align: justify;
}

.left {
  float: left !important;
}
.right {
  float: right !important;
}

/* Margins */
.right-margin {
  margin-right: 1.5rem;
} 

.top-margin {
  margin-top: 1.5rem;
}

.margin-collapse, .less-margin p {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

/* Text indent */
.left-indent {
  padding-left: 1.2rem;
}

/* Text Resalt */
.upper {
  text-transform: uppercase;
}

.small-caps {
  font-variant: small-caps;
}

/* No Text Select */
.no-select {
  user-select: none;
}

.circle {
  border-radius: 50%;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.block {
  display: block;
}

.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}