@media #{$large-and-up}{
  .hero{
    height: 22rem;
    /* Fallback for SVG. Old browsers don´t support SVG either linear-gradient */
    background: url(../img/welcome.png);
    background: url(../img/welcome.svg) no-repeat right,
    linear-gradient(transparent, transparent);

      p:last-child {
        position: relative;
        bottom: -5rem;
        text-align: center;
      }
  }

   .about-image{
    height: 20rem;
    /* Fallback for SVG. Old browsers don´t support SVG either linear-gradient */
    background: url(../img/teamwork.png);
    background: url(../img/teamwork.svg) no-repeat,
    linear-gradient(transparent, transparent);
    background-position: 55% 50%;
    background-size: cover;
   }
}

@media #{$extra-large-and-up}{
  .about-image{
    background-position: 65% 50%;
  }
}

@media only screen and (min-width : #{$large-screen}) and (max-width : #{$large-screen + 100}){
  .hero {
    p:last-child {
        margin-right: 7.5rem;
      }
  }
}

@media #{$small-and-up}{
  header {
      h1 {
        font-size: $h1-fontsize*1.3;
      }
  }
}

@media #{$tablet-only}{
	.table-compatibility {
    width: 90%;
  }
}

@media #{$medium-and-down} {
  main {
    padding: 0 1rem;
  }

  .skewed-background {
  margin: 4rem -1rem; 
  padding: 0 1rem 3rem;
}

  /* Back to top link */
  .back-to-top-wrapper {
    top: $scrollLength - 60;
    right: 0.75rem;
    z-index: 999;
  }

  .back-to-top-link {
    width: 4rem;
    height: 4rem;
    color: $soft-pink;
    background-color: darken($text-links, 5%);
    border-radius: 10px;
  }
}

@media #{$small-and-down} {
  .table-compatibility{
   margin: 1.2rem .7rem;
   writing-mode: vertical-lr;

    caption, thead th {
      padding: 1rem 0;
    }

    caption, tfoot {
      transform: rotate(180deg);
      text-align: center;
    }
    
    tbody {
      writing-mode: initial;

      td {
        padding: 2rem 0;
      }
    }

    tfoot td {
      padding: 0;
    }
  }
}

/* Hide/SHow classes */
.hide-on-extra-small-only, .hide-on-extra-small-and-down {
  @media #{$extra-small-and-down} {
    display: none !important;
  }
}

.hide-on-small-only, .hide-on-small-and-down {
  @media #{$small-and-down} {
    display: none !important;
  }
}
.hide-on-med-and-down {
  @media #{$medium-and-down} {
    display: none !important;
  }
}
.hide-on-large-and-down {
  @media #{$large-and-down} {
    display: none !important;
  }
}

.hide-on-med-and-up {
  @media #{$medium-and-up} {
    display: none !important;
  }
}
.hide-on-med-only {
  @media only screen and (min-width: $small-screen) and (max-width: $medium-screen) {
    display: none !important;
  }
}
.hide-on-large-only {
  @media #{$large-and-up} {
    display: none !important;
  }
}
.hide-on-extra-large-only {
  @media #{$extra-large-and-up} {
    display: none !important;
  }
}
.show-on-extra-large {
  @media #{$extra-large-and-up} {
    display: block !important;
  }
}
.show-on-large {
  @media #{$large-and-up} {
    display: block !important;
  }
}
.show-on-medium {
  @media only screen and (min-width: $small-screen) and (max-width: $medium-screen) {
    display: block !important;
  }
}
.show-on-small {
  @media #{$small-and-down} {
    display: block !important;
  }
}
.show-on-medium-and-up {
  @media #{$medium-and-up} {
    display: block !important;
  }
}
.show-on-medium-and-down {
  @media #{$medium-and-down} {
    display: block !important;
  }
}

/* Smooth scrolling IF user doesn't have a preference due to motion sensitivities */
@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
