// Custom fonts
/* Abel Regular - Latin */
@font-face {
  font-family: Abel;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Abel/Abel-Regular.eot");
  src: url('../fonts/Abel/Abel-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Abel/Abel-Regular.woff2') format('woff2'), 
       url('../fonts/Abel/Abel-Regular.woff') format('woff'),
       url("../fonts/Abel/Abel-Regular.ttf") format('truetype'),
       url('../fonts/Abel/Abel-Regular.svg#Abel') format('svg');
};

/* AmaticSC- Latin */
@font-face {
  font-family: AmaticSC;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/AmaticSC/AmaticSC-Regular.eot");
  src: url('../fonts/AmaticSC/AmaticSC-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/AmaticSC/AmaticSC-Regular.woff2') format('woff2'), 
       url('../fonts/AmaticSC/AmaticSC-Regular.woff') format('woff'),
       url("../fonts/AmaticSC/AmaticSC-Regular.ttf") format('truetype'),
       url('../fonts/AmaticSC/AmaticSC-Regular.svg#AmaticSC') format('svg');
};

@font-face {
  font-family: AmaticSC;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/AmaticSC/AmaticSC-Bold.eot");
  src: url('../fonts/AmaticSC/AmaticSC-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/AmaticSC/AmaticSC-Bold.woff2') format('woff2'), 
       url('../fonts/AmaticSC/AmaticSC-Bold.woff') format('woff'),
       url("../fonts/AmaticSC/AmaticSC-Bold.ttf") format('truetype'),
       url('../fonts/AmaticSC/AmaticSC-Bold.svg#AmaticSC') format('svg');
};

body {
    font-family: $body-font;
    font-size: 18px;
}

/* Header Styles */
h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font;
    }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: $h1-fontsize; line-height: 110%; margin: ($h1-fontsize / 1.5) 0 ($h1-fontsize / 2.5) 0;}
h2 { font-size: $h2-fontsize; line-height: 110%; margin: ($h2-fontsize / 1.5) 0 ($h2-fontsize / 2.5) 0;}
h3 { font-size: $h3-fontsize; line-height: 110%; margin: ($h3-fontsize / 1.5) 0 ($h3-fontsize / 2.5) 0;}
h4 { font-size: $h4-fontsize; line-height: 110%; margin: ($h4-fontsize / 1.5) 0 ($h4-fontsize / 2.5) 0;}
h5 { font-size: $h5-fontsize; line-height: 110%; margin: ($h5-fontsize / 1.5) 0 ($h5-fontsize / 2.5) 0;}
h6 { font-size: $h6-fontsize; line-height: 110%; margin: ($h6-fontsize / 1.5) 0 ($h6-fontsize / 2.5) 0;}