// Table of Contents:
//
// 1. Colors
// 2. Typography
// 3. Media Queries Ranges
// 4. Global

// ------------------------------------------------

// 1. Colors
// ================================================
// Web safe colors: https://htmlcolorcodes.com/color-chart/web-safe-color-chart/
// Theme
$soft-pink: #FFCCFF !default;    // Primary
$soft-gray: #CCCCCC !default;    // Secundary
$soft-purple: #CC99FF !default;  // Highlights
$soft-green: #CCFFCC !default;   // Links

//***** Light theme *****//
$text-light-pink: lighten($soft-pink, 3%) !default;
$text-dark-pink: darken($soft-pink, 60%) !default;
$background-light-pink: lighten($soft-pink, 3%) !default;
$text-light-gray: lighten($soft-gray, 7%) !default;
$text-dark-gray: darken($soft-gray, 60%) !default;
$background-light-gray: lighten($soft-gray, 7%) !default;
// Highlights
$text-highlights: darken($soft-purple, 50%) !default;
$background-purple: darken($soft-purple, 50%) !default;
$border-purple: darken($soft-purple, 50%) !default;
// Links
$text-links: darken($soft-green, 70%) !default;

// Badges
$red-badge: #bb0202 !default;    // Red
$yellow-badge: #FFCC33 !default; // Yellow
$green-badge: #669900 !default;  // Green

// Code block
$tag: #FF9966;
$property-name: #FF9966;
$attr-name: #bcd988;
$class-name: #bcd988;
$attr-value:  #FFC300;
$js-code: #ff7474;

// 2. Typography
// ================================================
$body-font: "Abel", Tahoma, Geneva, sans-serif !default;
$heading-font: "AmaticSC", cursive, Impact, Charcoal, sans-serif !default;

// Header Styles
$h1-fontsize: 4.2rem !default;
$h2-fontsize: 3.56rem !default;
$h3-fontsize: 2.92rem !default;
$h4-fontsize: 2.28rem !default;
$h5-fontsize: 1.64rem !default;
$h6-fontsize: 1.15rem !default;

// 3. Media Query Ranges
// ================================================
// Common breakpoints for widths of devices
$extra-small-screen-up: 320px !default;
$small-screen-up: 481px !default;
$medium-screen-up: 769px !default;
$large-screen-up: 1025px !default;
$extra-large-screen-up: 1201px !default;
$small-screen: 480px !default;
$medium-screen: 768px !default;
$large-screen: 1024px !default;
$extra-large-screen: 1200px !default;

$extra-small-and-up: "only screen and (min-width : #{$extra-small-screen-up})" !default;
$small-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$medium-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;
// Extra large screens, TV (1201px and more)
$extra-large-and-up: "only screen and (min-width : #{$extra-large-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$large-and-down: "only screen and (max-width : #{$large-screen})" !default;
// Mobile devices (320px — 480px)
$mobile-only: "only screen and (min-width : #{$extra-small-screen-up}) and (max-width : #{$small-screen})" !default;
// iPads, Tablets (481px — 768px)
$tablet-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;
// Small screens, laptops (769px — 1024px)
$laptop-only: "only screen and (min-width : #{$medium-screen-up}) and (max-width : #{$large-screen})" !default;
// Desktops, large screens (1025px — 1200px)
$desktop-only: "only screen and (min-width : #{$large-screen-up}) and (max-width : #{$extra-large-screen})" !default;

// 4. Global
// ================================================
// How far of a scroll travel within <main> prior to the link to top appearing
$scrollLength: 100vh;